<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> -->
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/main.css"> -->
        <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
        <!-- <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script> -->
        <script src="/static/js/layout.js" defer></script>
    </head>
    <body>
<h1>CyberProMan 7702</h1>

<div class="accordion">
    <div class="accordion-item">
        <div class="accordion-item-header">
           Pacman
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Pacman test
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            Ask mate
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Ask mate test
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            Cyber Punk 102
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                <div class="small_box1">To do</div>
                <div class="small_box1">In Problems</div>
                <div class="small_box1">Status</div>
                <div class="small_box1">Done</div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            Przepis na kurczaka
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                Dodaj jeśli znasz.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div class="accordion-item-header">
            Nie wiem co...
        </div>
        <div class="accordion-item-body">
            <div class="accordion-item-body-content">
                ...
            </div>
        </div>
    </div>
</div>
     
    </body>
</html>